<div [ngClass]="{
    'bg-green-400': correct === true,
    'bg-red-400': correct === false,
    'bg-white': correct === null
  }">
    <div id="question" class=" flex items-center justify-center h-screen" *ngIf="!answer">
        <div
            class="text-center px-20 block h-2/3 w-3/4 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <h5 class="flex justify-center mb-16 mt-8 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                {{question?.intitule}}</h5>
            <div class="grid grid-cols-2 gap-10">
                <div class=" flex-1 justify-center" *ngFor="let reponse of reponses; let index = index">
                    <button
                        class="text-lg bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white h-24 w-5/6 border border-blue-500 hover:border-transparent rounded"
                        (click)="validerReponse(index+1)">
                        {{reponse}}
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div id="reponse" class=" flex items-center justify-center h-screen" *ngIf="answer">
        <div
            class="text-center px-20 block h-2/3 w-3/4 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <h5 class="flex justify-center mb-16 mt-8 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                Réponse
            </h5>
            <div>
                {{ reponses[answer.index_reponse-1]}}
            </div>
            <div>
                {{question.description}}
            </div>
            <div>
                {{question.source}}
            </div>
        </div>
    </div>
</div>