<div class="background flex h-screen bg-zinc-50">
    <div class="m-auto rounded shadow-md p-3 bg-white sm:mx-auto sm:w-full sm:max-w-sm">
      <form class="space-y-6" #f="ngForm" (ngSubmit)="onSubmit(f)">
        <div>
            <label for="name" class="block text-sm font-medium leading-6 text-gray-900">Username</label>
            <div class="mt-2">
              <input id="name" name="name" type="name" autocomplete="name" [(ngModel)]="name" #emailInput="ngModel"
                required
                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-sapin sm:text-sm sm:leading-6 p-3" />
              <small *ngIf="f.submitted && emailInput.errors?.['required']" class="text-red-600 font-bold">Veuillez
                renseigner votre
                username.</small>
            </div>
        </div>

        <div>
          <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Adresse email</label>
          <div class="mt-2">
            <input id="email" name="email" type="email" autocomplete="email" [(ngModel)]="email" #emailInput="ngModel"
              required
              class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-sapin sm:text-sm sm:leading-6" />
            <small *ngIf="f.submitted && emailInput.errors?.['required']" class="text-red-600 font-bold">Veuillez
              renseigner votre
              email.</small>
          </div>
        </div>
  
        <div>
          <div class="flex items-center justify-between">
            <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Mot de passe</label>
          </div>
          <div class="mt-2">
            <input id="password" name="password" type="password" autocomplete="current-password" [(ngModel)]="password"
              required
              class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-sapinfonce sm:text-sm sm:leading-6 p-3" />
          </div>
        </div>

        <div>
            <div class="flex items-center justify-between">
              <label for="password_confirmation" class="block text-sm font-medium leading-6 text-gray-900">Confirmation mot de passe</label>
            </div>
            <div class="mt-2">
              <input id="password_confirmation" name="password_confirmation" type="password" autocomplete="password_confirmation" [(ngModel)]="password_confirmation"
                required
                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-sapin sm:text-sm sm:leading-6" />
            </div>
        </div>
  
        <div class="flex justify-center">
          <button [disabled]="busyRegister" type="submit"
            class="inline-flex items-center px-4 py-2 font-semibold leading-6 text-sm shadow rounded-md text-white bg-sapin hover:bg-sapin transition ease-in-out duration-150">
            <svg *ngIf="busyRegister" class="animate-spin -ml-1 mr-3 h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg"
              fill="none" viewBox="0 0 24 24">
              <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
              <path class="opacity-75" fill="currentColor"
                d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
              </path>
            </svg>
            S'inscrire
          </button>
        </div>
      </form>
    </div>
  </div>